/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: lightskyblue;
    padding: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.criarNota{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    border: 3px dashed black;
    height: 400px;
    cursor: pointer;
    margin: 30px 20px;
}

.iconPlus{
    padding: 0 14px;
    border: 1px solid;
    width: fit-content;
    border-radius: 50%;
    font-size: xx-large;
}

.conteudo {
    display: contents;
}

textArea{
    padding: 20px;
    outline: none;
    resize: none;
    border: 5px;
    background: transparent;
    font-size: 20px;
    width: 383px;
    height: 400px;
    overflow-y: scroll;
}

textArea::-webkit-scrollbar{
    width: 15px;
}

textArea::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: gray;
}

.item{
    position: relative;
    width: 400px;
    height: 400px;
    margin: 30px 20px;
}

.remove{
    position: absolute;
    right: 6px;
    cursor: pointer;
    color: white;
}